<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookandroid.jangae">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="담넘사"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:name="android.support.multidex.MultiDexApplication"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity"></activity>
        <activity android:name=".register_job_checkActivity"></activity>
        <activity android:name=".completeActivity"></activity>
        <activity android:name=".loginActivity"></activity>
        <activity android:name=".register1"></activity>
        <activity android:name=".register2"></activity>
        <activity android:name=".fl1"></activity>
        <activity android:name=".fl2"></activity>
        <activity android:name=".fl3"></activity>
        <activity android:name=".addinformation"></activity>

    </application>

</manifest>